<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="ie=edge" http-equiv="x-ua-compatible">
        <title>Audiophile Store</title>

        <link rel="icon" href="favicons.png" type="image/x-icon"/>
        <link rel="shortcut icon" href="favicons.png" type="image/x-icon"/>
    </head>
    <body>
        <div id="app">
        </div>
    </body>
    <script src="../node_modules/bootstrap/js/dist/alert.js"></script>
    <script src="../node_modules/bootstrap/js/dist/tooltip.js"></script>
    <script src="../node_modules/bootstrap/js/dist/dropdown.js"></script>
    <script src="../node_modules/bootstrap/js/dist/modal.js"></script>
    <script type="text/javascript">
        $(function () {
            $("[rel='tooltip']").tooltip();
        });
    </script>
</html>
